.idea/
.vscode/
code/vendor/
*.log
*.cache
.DS_Store
Thumbs.db
*.tmp
*.swp
*.bak
*.orig
*.save
composer.lock
docker-compose.override.yml
.env
.env.local
.env.*.local
*.iml
node_modules/
build/
dist/
*.~*