<h1>
    Добавленние пользователя
</h1>
<div class="card">
    <form action="/user/save" method="get" id="user-form">
        <div class="form-item">
            <label for="name">
                Имя:
            </label>
            <input type="text" id="name" name="name" required placeholder="Введите имя">
        </div>
        <div class="form-item">
            <label for="lastname">
                Фамилия:
            </label>
            <input type="text" id="lastname" name="lastname" required placeholder="Введите фамилию">
        </div>
        <div class="form-item">
            <label for="birthday">
                Дата рождения:
            </label>
            <input type="date" id="birthday" name="birthday" required>
        </div>
        <button type="submit">
            Добавить пользователя
        </button>
    </form>
</div>
