<h1>
    Удаление пользователя
</h1>
<div class="card">
    <form action="/user/delete" method="get" id="delete-user-form">
        <div class="form-item">
            <label for="id">
                ID пользователя:
            </label>
            <input type="number" id="id" name="id" required placeholder="Введите ID пользователя">
        </div>
        <button type="submit">
            Удалить пользователя
        </button>
    </form>
</div>