<div class="sidebar">
    <h2>
        Меню
    </h2>
    <ul>
        <li><a href="/user">Все пользователи</a></li>
        <li><a href="/adduser">Добавить пользователя</a></li>
        <li><a href="/updateuser">Изменить пользователя</a></li>
        <li><a href="/deleteuser">Удалить пользователя</a></li>
    </ul>
</div>