<h1>Успех!</h1>
<div class="card content">
    Пользователь {{ name }} с датой рождения {{ birthday }} успешно добавлен.
    <div>
        <a href="/user" class="home-link">
            Все пользователи                
        </a>
    </div>
</div>
