<h1>
    Список пользователей в хранилище
</h1>
<div class="card">
    <ul id="users__list">
        {% for user in users %}
            <li>
                {{ user.getUserName() }}
                . День рождения: 
                            
                {{ user.getUserBirthday() | date('d.m.Y') }}
            </li>
        {% endfor %}
    </ul>
</div>
